extends layout

block content
	h1= title
	p Welcome to #{title}

	.row
		.col-sm-12
			a.btn.btn-outline-primary(href="/add") Add

	br

	.row
		.col-sm-12
			if members.length != 0
				table.table
					thead
						th Name
						th Email
						th Phone Number
						th Action

					tbody
						each member in members
							tr
								td= member.name
								td= member.email
								td= member.phone
								td
									a.btn.btn-primary(href="/edit/"+member.id) Edit

			else
				p Data not found
